backoff
csv
django
djgeojson
jellyfish
json
math
numpy
os
pandas
random
re
recordlinkage
requests
sklearn
sqlite3
string

libspatialite
gdal
geos
proj-4
libgdal-dev 
libproj-dev 
libgeos-dev 
libspatialite-dev 
spatialite-bin
