{% load staticfiles %}
<html>
    <head>
        <title>Create your list</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
            
            $('#grocery-form').on('submit', function(event){
            event.preventDefault();
            console.log("form submitted!")  // sanity check
            addListItem()
        });

            function addListItem() {
                 var write = $('#newItem').val();
                 var list = $('#itemList');
                 var item = $('<span class="list">' + write + '</span><button class="delete">X</button></li>');
                 var newItem = $("#newItem");
                
                list.append(item);
                $(newItem).val('');
            }


            function deleteItem() {
                $(this).parent().remove();
            }


            $(function() {
                var add = $('#addItem');
                var newItem = $('#newItem');
                var list = $('#itemList');
                
                add.on('click', addListItem);
                list.on('click', '.delete', deleteItem);
                newItem.on('keypress', function (e) {
                    if (e.which == 13) {
                        addListItem();
                    }
                });
            });

        </script>


    </head>
    <body>
        <div class="page-header">
            <h1>Create your list</h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-6">
                    <div id="form">

                        <form method="GET" class="grocery-form" id="newItem">

                            {% csrf_token %}
                            {{ form.as_p }}

                            <button type="submit" class="save btn btn-default" id="addItem">+</button>

                        </form>
                    </div>
                </div>
            </div>

            <div id="bottom">
            <div class="items">
                <ul id="itemList">
                </ul>
            </div>
            </div>    
        
        </div>
        
        

    </body>

</html>
</div>
</div>