
<form name ='nameform' class="grocery-form" method='POST' onsubmit='return false'>

    {% csrf_token %}
    {{ form.as_p }}

    <!-- <input type="submit" onclick='addFoodtoTable(); return false' value="Add item"> -->
    <input type="submit" id="addbutton" name="addbutton" value="Add item">

</form>

<!-- <ul id='food_list'></ul> -->

<table id="food_list_table"></table>

<p id>Total:</p>
<p id='total'></p>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script>

//these resources were helpful in writing the following javascript:
//https://www.youtube.com/watch?v=o6ueQBrcKrs
//https://www.w3schools.com/jsref/met_table_insertrow.asp

var total = 0
function addFoodtoTable(data) {    

    // Access the table
    var table = document.getElementById("food_list_table");

    // Create empty row at beginning of table:
    var row = table.insertRow(0);

    // Insert cells into the row
    var food = row.insertCell(0);
    var price = row.insertCell(1);
    var button = row.insertCell(2);

    // Create a remove button
    var removeButton = document.createElement("button");
    removeButton.innerHTML = "Remove item";

    // Add content to the new cells:
    food.innerHTML = data.food_name;
    price.innerHTML = data.food_price + '/' + data.food_quantity;
    button.appendChild(removeButton)

    var updatedtotal = document.getElementById('total')
    total += data.food_price
    updatedtotal.innerHTML = '$' + Math.round(total * 100) / 100

}

//remove table row on click
$('#food_list_table').on('click', 'button', function () {
    $(this).closest('tr').remove();
    //total -= data.food_price
    //updatedtotal.innerHTML =  '$' + Math.round(total * 100) / 100
});


$('#addbutton').click(function () {
    console.log( $('#id_food').val() );

    var food_id = $('#id_food').val();
    
    $.ajax({
        url: '/ajax/cash_register/',
        data: {'food_id': food_id},
        dataType: 'json',
        success: function(data) {
            addFoodtoTable(data);
            }
        });
});

</script> 

