
<!-- http://howcanisolve.com/33907/django-google-place-autocomplete-address-form -->

{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Snapmap</title>
        <link rel="stylesheet" type="text/css" href="{% static "snap_test_2/css/mappage.css" %}" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Pacifico|Slabo+27px|Source+Sans+Pro:400,900" rel="stylesheet">
  </head>

  <body>
    <div id="map"></div>
    <div id='sidebar'>
        <div id="title">
        Find locations near:
        </div>
        <div id="pac-container">
            <input id="pac-input" type="text"
                placeholder="Enter a location">
        </div>   
        <div id="filters">
            <form id="form" onsubmit='return false'>
                <!--{% csrf_token %}-->
                <table class="form">
                <p class='field'> Retailer Type:<p> {% for field in form.retailer_type %}
                {{ field }}
                {% endfor %}</p>
                <p class='field'>Cost level:<p> {% for field in form.price %}
                {{ field }}
                {% endfor %}</p>
                <p class='field'> Minimum Rating:<p> {% for field in form.rating %}
                {{ field }}
                {% endfor %}</p>
                </table>
                <input type="submit"  value="Filter results" id="filter-btn" />
            </form>
          </div>
          <div id="listing">
            <table id="resultsTable">
             <tbody id="results"></tbody>
            </table>
         </div>
    </div>

    <div style="display: none">
      <div id="info-content">
        <table>
          <tr id="iw-name-row" class="iw_table_row">
            <td class="iw_attribute_name">Name:</td>
            <td id="iw-name"></td>
          </tr>
          <tr id="iw-address-row" class="iw_table_row">
            <td class="iw_attribute_name">Address:</td>
            <td id="iw-address"></td>
          </tr>
          <tr id="iw-phone-row" class="iw_table_row">
            <td class="iw_attribute_name">Telephone:</td>
            <td id="iw-phone"></td>
          </tr>
          <tr id="iw-category-row" class="iw_table_row">
            <td class="iw_attribute_name">Category:</td>
            <td id="iw-category"></td>
          </tr>
          <tr id="iw-rating-row" class="iw_table_row">
            <td class="iw_attribute_name">Rating:</td>
            <td id="iw-rating"></td>
          </tr>
          <tr id="iw-website-row" class="iw_table_row">
            <td class="iw_attribute_name">Website:</td>
            <td id="iw-website"></td>
          </tr>
          <tr id="iw-hours-row" class="iw_table_row">
            <td class="iw_attribute_name">Hours:</td>
            <td id="iw-hours"></td>
          </tr>
          <tr id="iw-double-row" class="iw_table_row">
            <td class="iw_attribute_name">Farmer's Market Double Value:</td>
            <td id="iw-double"></td>
          </tr>
            <td>
              <input type="submit" id = "submit_groceries" name = "submit_groceries" value="Build Grocery List" />
              <input type="submit" id = "submit_prices" name = "submit_prices" value="Contribute Prices" />
            </form>
            </td>
          </tr>

        </table>
      </div>
    </div>
    
    <!--     SCRIPTS BEGIN  -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2zsB1fPiX_9LUi7t_hyA_TaY3E2aAPQU&libraries=places"></script>
    <!--<script src = {% static "snap_test_2/js/markers.js" %}></script>-->
    <script>
    var map
    var placeSearch, autocomplete, infoWindow;
    
    var markers = [];
    var MARKER_PATH = 'https://developers.google.com/maps/documentation/javascript/images/marker_green';

    $("#autocomplete").on('focus', function () {
          geolocate();
        });
  
    //Map initialization modified from:
    //https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete
    function initialize() {
      
       console.log("I JUST RESET THE MAP")
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: new google.maps.LatLng(41.913154, -87.633311),
          });

        var card = document.getElementById('pac-card');
        var input = document.getElementById('pac-input');
        var types = document.getElementById('type-selector');
        var resultsBox = document.getElementById('listing');
        //map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);
        
      // Create the autocomplete object
       autocomplete = new google.maps.places.Autocomplete(
        document.getElementById('pac-input'));
        
        infoWindow = new google.maps.InfoWindow({
          content: document.getElementById('info-content')
        });

        // When the user selects an address from the dropdown,
       // populate the address fields in the form.
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
          var place = autocomplete.getPlace();
          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);  
          }
               
           get_places();
        });

      
        $("#form").on("submit", function(){
          var data = $(this).serializeArray();
          console.log("serialized filter data: ", data);
          get_places(data);
        });

      }
        
      //https://simpleisbetterthancomplex.com/tutorial/2016/08/29/how-to-work-with-ajax-request-with-django.http
      // This site taught us how to use ajax with django.
      function get_places(data) {
          var bounds = map.getBounds().toJSON();
          var sw_lat = bounds.south;
          var sw_lon = bounds.west;
          var ne_lat = bounds.north;
          var ne_lon = bounds.east;  

          
         // console.log("You are passing", data)
          
          $.ajax({
            url: '/ajax/get_places/',
            data: { 'data': data,
                    'sw_lat':sw_lat,
                    'sw_lon':sw_lon,
                    'ne_lat':ne_lat,
                    'ne_lon':ne_lon
                  },
            dataType: 'json',
            success: function(data) {
              
            var results = JSON.parse(data.data).features;
            console.log(results);
            placeMarkers(results);
            }
          });
        }
    var markers = [];
    var MARKER_PATH = 'https://developers.google.com/maps/documentation/javascript/images/marker_green';


    function placeMarkers(results){
      clearMarkers();
      clearResults();
      // Create a marker for each hotel found, and
      // assign a letter of the alphabetic to each marker icon.
      for (var i = 0; i < results.length; i++) {
       //var markerLetter = String.fromCharCode('A'.charCodeAt(0) + (i % 26));

        var type = results[i].properties.store_category;
        console.log(type)
        /*

        //if (type == "grocery") {
          //var icon = {
             // url: 'http://i.imgur.com/8VkZpUB.png',
              // This marker is 20 pixels wide by 32 pixels high.
              //size: new google.maps.Size(20, 32),

           // };

        var markerIcon = 'http://i.imgur.com/8VkZpUB.png';
        var icon = document.createElement('img');
        icon.src = img;
        icon.setAttribute('class', 'icon');
        }

        //else {
          //var markerLetter = String.fromCharCode('A'.charCodeAt(0) + (i % 26));
          //var icon = MARKER_PATH + markerLetter + '.png';
        //}
        //var type = results[i].properties.store_category;

        if (type=='other'){
          var markerIcon = {url: 'https://raw.githubusercontent.com/Ranks/emojione/master/assets/svg/1f604.svg',
            scaledSize: new google.maps.Size(50,50),
            scaledSize: new google.maps.Size(50,50)
            
          };
        }  
*/        
        var markerIcon = ''
        markerIcon = selectIcon(type);
        //};
        // Use marker animation to drop the icons incrementally on the map.
        markers[i] = new google.maps.Marker({
          position: new google.maps.LatLng(results[i].geometry.coordinates[1], results[i].geometry.coordinates[0]),
          animation: google.maps.Animation.DROP,
          icon: markerIcon
          //animation: google.maps.Animation.DROP,
        });
        // If the user clicks a hotel marker, show the details of that hotel
        // in an info window.
        
        markers[i].placeResult = results[i];
        google.maps.event.addListener(markers[i], 'click', showInfoWindow);
        setTimeout(dropMarker(i), 0);
        addResult(results[i], i);
          }
      }

    function selectIcon(type){
      if (type == "grocery") {
          var markerIcon = 'http://i.imgur.com/WFOBHyy.png'
        } else if (type == "Farmer's Market") {
          var markerIcon = 'http://i.imgur.com/8E4xSWe.png'
        } else if (type == "convenience store") {
          var markerIcon = 'http://i.imgur.com/QdrsR1G.png'
        } else {
          //var markernumber = String.fromCharCode('A'.charCodeAt(0) + (i % 26));
          var markerIcon = MARKER_PATH + "A"+ '.png';
        };
        return markerIcon;
    }

    function clearMarkers() {
      for (var i = 0; i < markers.length; i++) {
        if (markers[i]) {
          markers[i].setMap(null);
        }
      }
          markers = [];
      }

    function dropMarker(i) {
      return function() {
        markers[i].setMap(map);
      };}

    function geolocate() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function (position) {
            var geolocation = new google.maps.LatLng(
            position.coords.latitude, position.coords.longitude);

            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            document.getElementById("latitude").value = latitude;
            document.getElementById("longitude").value = longitude;
            autocomplete.setBounds(new google.maps.LatLngBounds(geolocation, geolocation));
      });}
      }


    function addResult(result, i) {
      var results = document.getElementById('results');
      var type = result.properties.store_category;
      var markerIcon = selectIcon(type);

      var tr = document.createElement('tr');
      tr.style.width = '100%' ;
      tr.style.backgroundColor = (i % 2 === 0 ? '#F0F0F0' : '#FFFFFF');
      tr.onclick = function() {
        google.maps.event.trigger(markers[i], 'click');
      };

      var iconTd = document.createElement('td');
      var nameTd = document.createElement('td');
      var icon = document.createElement('img');
      icon.src = markerIcon;
      icon.setAttribute('class', 'placeIcon');
      icon.setAttribute('className', 'placeIcon');
      var name = document.createTextNode(result.properties.store_name);
      iconTd.appendChild(icon);
      nameTd.appendChild(name);
      tr.appendChild(iconTd);
      tr.appendChild(nameTd);
      results.appendChild(tr);
    }

    function showInfoWindow() {
    var marker = this;
    infoWindow.open(map, marker);
    var place = marker.placeResult.properties;
    console.log(place.store_id)
    buildIWContent(place);
    }

    function clearResults() {
      var results = document.getElementById('results');
      while (results.childNodes[0]) {
        results.removeChild(results.childNodes[0]);
      }
    }

  
    function buildIWContent(place) {
      var rating = place.rating;
      if (rating == 0) {
            rating = 'Not available';
          }; 
      document.getElementById('iw-name').textContent = place.store_name;
      document.getElementById('iw-address').textContent = place.address;  
      document.getElementById('iw-phone').textContent = place.phone;
      document.getElementById('iw-rating').textContent = rating;
      document.getElementById('iw-website').textContent = place.website;
      document.getElementById('iw-hours').textContent = place.hours;
      document.getElementById('iw-category').textContent = place.store_category;
      document.getElementById('iw-double').textContent = place.double_value;
      

      $('#submit_groceries').click(function() {
      var store_id = place.store_id;
      var url = '/groceries/' + store_id + '/';
      window.location.href = url;
      }); 
    

    $('#submit_prices').click(function() {
      var store_id = place.store_id;
      var url = '/submit-prices/' + store_id + '/';
      window.location.href = url;
      }); 
    }
    
    initialize();
    </script>

  </body>
</html>