
<!-- http://howcanisolve.com/33907/django-google-place-autocomplete-address-form -->

<!DOCTYPE html>
<html>
  <head>
    <title>Place Autocomplete Address Form</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  </head>

  <body>
    <!--<form action = '/search_retailers' method = "get" id="locationField">-->
  <form onsubmit='return false', method = "get">
      <label for = "search_retailers"> Enter location: </label>
      <input id="autocomplete" name="autocomplete" type="text"></input>
      <input type = "submit" id="addbutton" name="addbutton" value = "GO!">
    </form>
    <div id="results"></div>
    <div id="map" style="width: 500px; height: 400px;"></div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2zsB1fPiX_9LUi7t_hyA_TaY3E2aAPQU&libraries=places"></script>
    <script>
      
    var map
    var placeSearch, autocomplete;
    var markers = [];
    var MARKER_PATH = 'https://developers.google.com/maps/documentation/javascript/images/marker_green';


    $("#autocomplete").on('focus', function () {
     geolocate();
      });

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: new google.maps.LatLng(41.913154, -87.633311),
          });
      google.maps.event.addListener(map, 'idle', function(ev){
        var bounds = map.getBounds().toJSON();
        var places = autocomplete.getPlace();
        var geo = places.geometry.viewport.toJSON();
        console.log("HEY", bounds)
    });
        }

 

    function initialize() {
    // Create the autocomplete object
       autocomplete = new google.maps.places.Autocomplete(
        document.getElementById('autocomplete'));
        // When the user selects an address from the dropdown,
       // populate the address fields in the form.
      google.maps.event.addListener(autocomplete, 'place_changed', function () {
        var place = autocomplete.getPlace();
        console.log("Autocomplete returns: ", place);

        if (place.geometry) {
          map.panTo(place.geometry.location);
          map.setZoom(15);}
          

        
        get_places();
        });
      }
      //console.log("Autocomplete returns outside: ", place);
   
      //https://simpleisbetterthancomplex.com/tutorial/2016/08/29/how-to-work-with-ajax-request-with-django.html
      // This site taught us how to use ajax with django.
      function get_places() {
        var place = autocomplete.getPlace();
        var bounds = place.geometry;
        var name = $("#autocomplete").val();
        
        $.ajax({
          url: '/ajax/get_places/',
          data: {'name':name},
          dataType: 'json',
          success: function(data) {
            //console.log(data);
            var results = JSON.parse(data.data).features;
            placeMarkers(results);
            }
          });
        }
      

      // Access the table
      function showresults(data) { 
        var table = document.getElementById("results");
      }

      function placeMarkers(results){
        clearMarkers();
        // Create a marker for each hotel found, and
        // assign a letter of the alphabetic to each marker icon.
        for (var i = 0; i < results.length; i++) {
          var markerLetter = String.fromCharCode('A'.charCodeAt(0) + (i % 26));
          var markerIcon = MARKER_PATH + markerLetter + '.png';

       
          // Use marker animation to drop the icons incrementally on the map.
          markers[i] = new google.maps.Marker({
            position: new google.maps.LatLng(results[i].geometry.coordinates[1], results[i].geometry.coordinates[0]),
            animation: google.maps.Animation.DROP,
            icon: markerIcon
          });
          // If the user clicks a hotel marker, show the details of that hotel
          // in an info window.
          markers[i].placeResult = results[i];
          //google.maps.event.addListener(markers[i], 'click', showInfoWindow);
          setTimeout(dropMarker(i), i * 100);
          //addResult(results[i], i);
            }
        }
  


      function clearMarkers() {
        for (var i = 0; i < markers.length; i++) {
          if (markers[i]) {
            markers[i].setMap(null);
          }
        }
            markers = [];
        }

    function dropMarker(i) {
        return function() {
          markers[i].setMap(map);
        };
      }


      function geolocate() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            var geolocation = new google.maps.LatLng(
            position.coords.latitude, position.coords.longitude);

            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            document.getElementById("latitude").value = latitude;
            document.getElementById("longitude").value = longitude;

            autocomplete.setBounds(new google.maps.LatLngBounds(geolocation, geolocation));
        });
      }}
    initialize();
    initMap();
    </script>

    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2zsB1fPiX_9LUi7t_hyA_TaY3E2aAPQU&libraries=places&callback=onLoaded"
        async defer></script> -->
  </body>
</html>