
<!-- http://howcanisolve.com/33907/django-google-place-autocomplete-address-form -->

{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Course Catalog Search</title>
        <link rel="stylesheet" type="text/css" href="{% static "snap_test_2/css/mappage.css" %}" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  </head>

  <body>
    <div class="pac-card" id="pac-card">
      <div>
        <div id="title">
          Find locations near:
        </div>
        <p></p>
        <div id="pac-container">
        <input id="pac-input" type="text"
            placeholder="Enter a location">
        </div>   
            <form id="form" onsubmit='return false'>
                {% csrf_token %}
                <table class="form">
                {{ form }}
                </table>
                <input type="submit"  value="Filter results" />
            </form>
      </div>
      </div>
    <div id="map"></div>
    
    <!--     SCRIPTS BEGIN  -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2zsB1fPiX_9LUi7t_hyA_TaY3E2aAPQU&libraries=places"></script>
    <script src = {% static "snap_test_2/js/markers.js" %}></script>
    <script>
    var map
    var placeSearch, autocomplete;
    
    var markers = [];
    var MARKER_PATH = 'https://developers.google.com/maps/documentation/javascript/images/marker_green';

    $("#autocomplete").on('focus', function () {
          geolocate();
        });
    
    //Map initialization modified from:
    //https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete
    function initialize() {
       console.log("I JUST RESET THE MAP")
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: new google.maps.LatLng(41.913154, -87.633311),
          });

        var card = document.getElementById('pac-card');
        var input = document.getElementById('pac-input');
        var types = document.getElementById('type-selector');
        var strictBounds = document.getElementById('strict-bounds-selector');
        var resultsBox = document.getElementById('listing');
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);
        
      // Create the autocomplete object
       autocomplete = new google.maps.places.Autocomplete(
        document.getElementById('pac-input'));
        
        // When the user selects an address from the dropdown,
       // populate the address fields in the form.
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
          var place = autocomplete.getPlace();
          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);  
          }
               
           get_places();
        });

      
        $("#form").on("submit", function(){
          var data = $(this).serializeArray();
          console.log("serialized filter data: ", data);
          get_places(data);
        });

      }
        
      //https://simpleisbetterthancomplex.com/tutorial/2016/08/29/how-to-work-with-ajax-request-with-django.http
      // This site taught us how to use ajax with django.
      function get_places(data) {
          var bounds = map.getBounds().toJSON();
          var sw_lat = bounds.south;
          var sw_lon = bounds.west;
          var ne_lat = bounds.north;
          var ne_lon = bounds.east;  
          
      
          console.log("You are passing", data)
          
          $.ajax({
            url: '/ajax/get_places/',
            data: { 'data': data,
                    'sw_lat':sw_lat,
                    'sw_lon':sw_lon,
                    'ne_lat':ne_lat,
                    'ne_lon':ne_lon
                  },
            dataType: 'json',
            success: function(data) {
            console.log(data);

            var results = JSON.parse(data.data).features;
            placeMarkers(results);
            }
          });
        }
      
        /*
      //Marker placement based on this tutorial:
      //https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete
      function placeMarkers(results){
        clearMarkers();
        // Create a marker for each hotel found, and
        // assign a letter of the alphabetic to each marker icon.
        for (var i = 0; i < results.length; i++) {
          var markerLetter = String.fromCharCode('A'.charCodeAt(0) + (i % 26));
          var markerIcon = MARKER_PATH + markerLetter + '.png';

       
          // Use marker animation to drop the icons incrementally on the map.
          markers[i] = new google.maps.Marker({
            position: new google.maps.LatLng(results[i].geometry.coordinates[1], results[i].geometry.coordinates[0]),
            animation: google.maps.Animation.DROP,
            icon: markerIcon
          });
          // If the user clicks a hotel marker, show the details of that hotel
          // in an info window.
          markers[i].placeResult = results[i];
          //google.maps.event.addListener(markers[i], 'click', showInfoWindow);
         setTimeout(dropMarker(i),0)
          //addResult(results[i], i);
            }
        }
  
      function clearMarkers() {
        for (var i = 0; i < markers.length; i++) {
          if (markers[i]) {
            markers[i].setMap(null);
          }
        }
            markers = [];
        }

      function dropMarker(i) {
        return function() {
          markers[i].setMap(map);
        };}

      function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
              var geolocation = new google.maps.LatLng(
              position.coords.latitude, position.coords.longitude);

              var latitude = position.coords.latitude;
              var longitude = position.coords.longitude;
              document.getElementById("latitude").value = latitude;
              document.getElementById("longitude").value = longitude;
              autocomplete.setBounds(new google.maps.LatLngBounds(geolocation, geolocation));
        });}
          }
    */
    initialize();
    </script>
  </body>
</html>