{% load staticfiles %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static "snap_test_2/css/groceries.css" %}"/>
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Slabo+27px|Source+Sans+Pro:400,900" rel="stylesheet">
</head>

        <div class="menu">
            <a class="menu-header" href="#">snapmap</a>

            <p id = "store_name"> {{store_name}} </p>
            <p id = "store_address"> {{address}} </p>

            <form name ='nameform' class="grocery-form" method='POST' onsubmit='return false' value="Select a food">

                {% csrf_token %}
                {{ form.as_p }}

            </form>
        </div>

    <div id="main">
                <div class="grid">
                    <table>
                        <col width="300">
                        <col width="145">
                        <col width="115">
                        <col width="110">
                        <thead>
                            <tr>
                                <th>Food</th>
                                <th>Current Price</th>
                                <th>Your Price</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div>
                <div class="grid">
                    <table id="food_list_table">
                        <col width="300">
                        <col width="145">
                        <col width="115">
                        <col width="110">
                        </table>
                </div>

                </div>
            </p>
  
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src = {% static "snap_test_2/js/submitpricespage.js" %}></script>


<script>

//prepopulate table with foods from grocery list page
$(window).on('load', function () {
  var foods = {{food_list|safe}};
  var foods_length = foods.length

  for (var i = 0; i < foods_length; i++) {

    $.ajax({
      url: '/ajax/cash_register/',
      data: {'food_id': foods[i]},
      dataType: 'json',
      success: function(data) {
        addFoodtoTable(data);
      }
  })
  }
});


</script> 