{% load staticfiles %}

<head>
  
  <link rel="stylesheet" type="text/css" href="{% static "snap_test_2/css/groceries.css" %}"/>
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Slabo+27px|Source+Sans+Pro:400,900" rel="stylesheet">
  <title>Submit your prices</title>

</head>

  <div class="menu">

    <a class="menu-header" href="#">snapmap</a>
    <p id = "store_name"> {{store_name}} </p>
    <p id = "store_address"> {{address}} </p>
    <p id = "heading">Contribute prices:</p>
    
    <form name ='nameform' class="grocery-form" method='POST' onsubmit='return false' value="Select a food">

        {% csrf_token %}
        {{ form.as_p }}

    </form>

  </div>

  <div id="main">

    <div class="grid">
      <table>
        <col width="300">
        <col width="145">
        <col width="115">
        <col width="110">
        <col width="30">
        
        <thead>
          <tr>
            <th>Food</th>
            <th>Current Price</th>
            <th>Your Price</th>
            <th></th>
          </tr>
        </thead>
      </table>
    </div>
    
    <div class="grid">
      <table id="food_list_table">
        <col width="300">
        <col width="145">
        <col width="115">
        <col width="110">
        <col width="30">
      </table>
    </div>

  </div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src = {% static "snap_test_2/js/submitpricespage.js" %}></script>

<script>

//prepopulate table with foods from grocery list page
$(window).on('load', function () {
  var foods = {{food_list|safe}};
  var foods_length = foods.length
  var store_id = {{store_id}};

  for (var i = 0; i < foods_length; i++) {

    var food_id = foods[i]

    $.ajax({
      url: '/ajax/cash_register/',
      data: {'food_id': food_id, 'store_id': store_id},
      dataType: 'json',
      success: function(data) {
        addFoodtoTable(data, food_id);
      }
    })
  }
});


//get data based on selected food
$('#id_food, #id_other, #id_grains, #id_dairy, #id_meat_and_fish, #id_fruits_and_veggies').change(function () {

    var food_id = $(this).val();
    var store_id = {{store_id}}


    $.ajax({
        url: '/ajax/cash_register/',
        data: {'food_id': food_id, 'store_id': store_id},
        dataType: 'json',
        success: function(data) {
            addFoodtoTable(data, food_id);
            }
        });
});


$('#food_list_table').on('click', '#checkmark', function () {
    //get row id for the selected row
    var rc = $(this).parent().parent().attr('id');
    console.log(rc)

    //get the user input value from that row 
    var price = document.querySelectorAll('.price_input')[rc].value;

    //ensure that the input is integer or float
    if ($.isNumeric(price) == false) {
        alert('please enter a number :-)\ne.g. 4 or 4.00')
    } 

    //replace the submit field with a smiley after submission
    



        var food_id = $(this).parent().next('td').text();
        console.log(food_id);
        var store_id = {{store_id}};

    $.ajax({

        url: '/ajax/update_price/',
        data: {'food_id': food_id, 'store_id': store_id, 'user_price': price},
        dataType: 'json',
        success: function(data) {
          if (data.bounds_error == "out of bounds error") {
            alert('This price is out of bounds')
          } else {
          var table_rows = document.getElementById('food_list_table').rows;
          var table_cells = table_rows[rc].cells;
          var cell = table_cells[2]
          cell.innerHTML = '<img src= "http://i.imgur.com/2MzKVnC.png" class="price_input" id="smiley">'}
           } 
});

});

</script> 