/* BODY */

body {
  background-color: rgba(235, 235, 235, 0.56);
}

#main {
  margin-left: 450;
  margin-top: 85;
}

.bottom {
  font-family: 'Pacifico', cursive;
  font-size:20px;
  color:#1d1f20;
  margin-left: 6px;
  margin-top: 15px;
}

#total{
  font-family: 'Source Sans Pro', sans-serif;
}



/* SIDEBAR */

.menu {
  width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: url('http://i.imgur.com/FPnuTwT.jpg');
  background-position: 50% 80%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 16px;
}

.menu-header {
  margin-left: 30px;
  font-family: 'Pacifico', cursive;
  color: #636b46;
  text-decoration: none;
  font-size: 30px;
  margin-top: 50px;
  -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  letter-spacing: 4px
}

.menu-header:hover {
  color: #ffffff;
  letter-spacing: 10px
}



#store_name {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 15px;
}

#store_address {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-left: 30px;
  margin-top: -15px;
}

#heading {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 15px;
  margin-left: 30px;
  margin-top: 25px;
  color: #666666;
}

.grocery-form {
  margin-left: 30px;
  margin-top:15px;
}

.grocery-form select {
  -webkit-appearance:none;
  -moz-appearance:none;
}

#id_food, #id_fruits_and_veggies, #id_meat_and_fish, #id_dairy,
#id_grains, #id_other {
  height: 25px;
  width: 340px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  border:none;
  padding-left: 5px;
  margin-top: -7px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

#id_food:hover, #id_fruits_and_veggies:hover, #id_meat_and_fish:hover, 
#id_dairy:hover, #id_grains:hover, #id_other:hover{
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}



/* TABLE OF FOODS */

.grid table { 
  border-collapse: collapse; 
  text-align: left; 
  font-family: 'Source Sans Pro', sans-serif;
} 

.grid {
  font-family: 'Source Sans Pro', sans-serif;
  width: 650px;
}

.grid table td, .grid table th { 
  padding: 3px 10px; 
}

.grid table thead th {
  color:#1d1f20; 
  font-size: 16px; 
} 

.grid table tbody td { 
  color: #000000; 
  font-size: 14px;
}

#invisible {
  color: transparent;
}



/* BUTTONS */

#contribute-btn {
  border-radius: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 12px;
  font-weight:900;
  border:none;
  background:rgba(186,15,81,0.65);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 25px;
  position: fixed;
  bottom: 10;
  right: 10;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

#contribute-btn:hover {
  background-color: rgba(186,15,81,1);
  cursor: pointer;
}

#increaseButton{
  border-radius: 50px;
  width: 25px;
  height: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: rgba(105,140,60, 0.75);
  font-size: 30px;
  border:none;
  background:url('http://i.imgur.com/2sdpvcM.png');
  background-size: 25px 25px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 25px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

#increaseButton:hover {
  opacity: 0.4;
  cursor: pointer;
}

#decreaseButton{
  border-radius: 50px;
  height: 25px;
  width: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: rgba(186,15,81, 0.75);
  font-size: 30px;
  border:none;
  background:url('http://i.imgur.com/xq5HnHY.png');
  background-size: 25px 25px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 25px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

#decreaseButton:hover {
  opacity: 0.4;
  cursor: pointer;
}

#removebutton {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #b3b3b3;
  font-size: 30px;
  font-weight: 900;
  border:none;
  background:url('http://i.imgur.com/AqWX9gH.png');
  background-size: 25px 25px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 25px;
  margin-left:-2px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

#removebutton:hover {
  opacity: 0.4;
  cursor: pointer;
}

#checkmark{
  border-radius: 50px;
  width: 25px;
  height: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: #698C3C;
  font-size: 20px;
  border:none;
  background:url('http://i.imgur.com/4KzYHuo.png');
  background-size: 25px 25px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 25px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

#checkmark:hover {
  opacity: 0.4;
  cursor: pointer;
}

#smiley {
  width: 25px;
  height: 25px;
}