      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        position:absolute;
        height: 100%;        
        bottom:0;
        left:350px;
        right:0;
        overflow:hidden;
       }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Source Sans Pro', sans-serif;
      }

      #description {
        font-size: 15px;
        font-weight: 300;
      }

      #info-content {
        width: auto;
        height: auto;
        background-color: rgba(255, 255, 255, 95%);
        font-size: 12px;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      #pac-input {
        background-color: #fff;
        font-size: 15px;
        font-weight: 300;
        margin-left: 20px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 275px;
        border: 2px solid #d9d9d9;
        height: 30px;
        
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        font-weight: 900;
        margin-left: 10px;
        color: #636b46;
        font-size: 25px;
        padding: 6px 12px;
      }

      ul {
        list-style-type: none;
      }

      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;

      }
      .iw_table_icon {
        text-align: right;
      }

      #resultsTable {
       border-collapse: collapse;
       width: 100%;
      }

      #white-row {
        background-color: #FFFFFF;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
      }

      #gray-row {
        background-color: #F0F0F0;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
      }

      #white-row:hover {
        background-color: #CBE6A3;
      }

      #gray-row:hover {
        background-color: #CBE6A3;
      }



      #listing {
        height: 100%;
        overflow: auto;
        cursor: pointer;
      }


#sidebar {
  width: 350px;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}



#form {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 13px;
  margin-top: -10px;
}

.field {
  font-weight: 900;
  font-size: 14px;
  margin-bottom: -10px;
}

#filter-btn {
  border-radius: 50px;
  color: white;
  font-size: 12px;
  font-weight:900;
  border:none;
  background:rgba(153, 153, 153, 1);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 25px;
  margin-top: 2px;
  margin-bottom: 12px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

#filter-btn:hover {
  background-color: rgba(186,15,81,1);
  cursor: pointer;
}

#submit_groceries, #submit_prices {
  border-radius: 50px;
  color: white;
  font-size: 12px;
  font-weight:900;
  border:none;
  background:rgba(153, 153, 153, 1);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 25px;
  margin-left: 10px;
  height: 25px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

#submit_groceries:hover, #submit_prices:hover {
  background-color: rgba(186,15,81,1);
  cursor: pointer;
}

#iw-name {
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  margin-top: 5px;
}

#right_table {
  float: left;
}

#left_table {
  float: left;
}
