      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        
        position:absolute;
        height: 100%;        
        bottom:0;
        left:350px;
        right:0;
        overflow:hidden;
       }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 20px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 275px;
        border: 2px solid #d9d9d9;
        height: 30px;
        margin-top: -8px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 900;
        margin-left: 10px;
        color: #636b46;
        font-size: 25px;
        padding: 6px 12px;
      }

      ul {
        list-style-type: none;
      }

      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }

      #resultsTable {
        border-collapse: collapse;
      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }

      #listing {
        width: 300px;
        height: 100%;
        overflow: auto;
        cursor: pointer;
}


#sidebar {
  width: 350px;
  background-color: white;
  top: 0px;
  height: 100%;
}

#pac-card {
  margin-top: 0px;
}


#form {
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  margin-top: -10px;
}

.field {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 14px;
  margin-bottom: -10px;
}

#filter-btn {
  border-radius: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 12px;
  font-weight:900;
  border:none;
  background:rgba(153, 153, 153, 1);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 25px;
  margin-top: 8px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

#filter-btn:hover {
  background-color: rgba(186,15,81,1);
  cursor: pointer;
}

#pac-filters {
  width: 340px;
}